* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "Raleway", "sans-serif";
}


/*DEBUT-----------------------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 30px;
    font-size: 20px;
}

nav a:hover {
    color: #0065fc;
    border-top: solid 4px rgba(0, 101, 252, 1);
}

.main {
    margin-right: 20px;
    margin-left: 20px;
}

.research {
    line-height: 30px;
}

.research p {
    font-size: 20px;
}

.h2 {
    font-size: 30px;
    font-weight: bold;
}

.search {
    height: 50px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search i {
    background-color: grey;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.search input {
    font-size: 20px;
    padding-left: 10px;
    width: 200px;
}

.search button {
    background-color: blue;
    width: 150px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
}

.filter {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.filter p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    margin-right: 10px;
}

.fcard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding: 5px;
    border-radius: 30px;
    height: 40px;
    margin-right: 10px;
}

.fcard i {
    margin-right: 5px;
}

.fcard p {
    font-weight: inherit;
    font-size: 20px;
}

.infohead p {
    display: flex;
}

.infohead i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}


/*HEBER-----------------------------------------------------*/

.sect-hebergement {
    background-color: #F2F2F2;
    width: 62%;
    height: auto;
    border-radius: 30px 30px 30px 30px;
}

.sect-hebergement .h2 {
    margin: 30px;
}

.container-card {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.card2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    width: 30%;
    height: 200px;
    background-color: #fff;
    border-radius: 30px 30px 30px 30px;
}

.himg {
    padding: 5px;
}

.card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.descri {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    line-height: 20px;
}

.descri h3 {
    font-weight: bold;
}

.afficher {
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}


/*POPULAR-----------------------------------------------------*/

.contain-all {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.popular {
    background-color: #F2F2F2;
    width: 35%;
    height: auto;
    border-radius: 30px;
}

.p-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

.p-title i {
    font-size: 20px;
}

.container-pcard {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    flex-direction: column;
}

.pcard {
    width: 90%;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    height: 150px;
}

.cimg {
    width: 70%;
    object-fit: cover;
}

.pcard img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.pcard1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.pcard1 h3 {
    font-weight: bold;
}

.stars {
    display: flex;
    align-items: end;
}


/*ACTIVITES-----------------------------------------------------*/

.sect-activites {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 50px;
}

.sect-activites h2 {
    margin: 70px 30px 30px 30px;
}

.contain-act {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.acard {
    width: 90%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-radius: 30px;
    box-shadow: 0px 4px 36px 11px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 0px 4px 36px 11px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 4px 36px 11px rgba(0, 0, 0, 0.56);
}

.acard img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.acard h3 {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.little {
    display: flex;
    flex-direction: column;
}

.little .acard {
    height: 150px;
    box-shadow: 0px 4px 36px 11px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 0px 4px 36px 11px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 4px 36px 11px rgba(0, 0, 0, 0.56);
}

.mt {
    margin-top: 80px;
}

.big img {
    height: 400px;
}

.little img {
    height: 150px;
}


/*FOOTER-----------------------------------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 50px;
}

.footer h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.fdiv {
    display: flex;
    flex-direction: column;
}